<!DOCTYPE html>
<html>
<head>
<title>Remembering Johnny</title>
<meta charset="utf-8" />
<link rel="apple-touch-icon" href="/ducky-iphone.png" />
<link rel="shortcut icon" href="/favicon.ico" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script type="text/javascript" src="/js/jquery.maximage.min.js"></script>
<script type="text/javascript" src="/js/jquery.cycle.all.js"></script>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.maximage.min.css" />

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1920608-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>

<div id="Content">
<h1 id="headline" data-org="Remembering Johnny">Remembering Johnny</h1>
{{page.content}}
</div>

<div id="footer">


</div>

</body>
</html>
